@page

@model SecondProject.Pages.Test2Model

<h1>Write your data</h1>
<form method="post">
    <p>Name: <input type="text" name="name" /> <br /></p>
    <p>Age: <input type="number" name="age" /> <br /></p>
    <input type="submit" value="send"/>
</form>

<h1>@Model.PrintInfo()</h1>